<div class="content-wrap text-center mt-3">
  <div id=search-results data-controller="search">
  <%= render 'shared/searchbar' %>
    <h1>Search Results</h1>
    <div data-target="search.result" id="search_div">
    <div class="row mt-3">
      <% @vendors.each do |vendor| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="vcard">
        <%= link_to user_vendor_path(vendor.id) do %>
          <% if vendor.photo.present? %>
          <%= image_tag vendor.photo, class: "vcardimg" %>
          <% end %>
          <div class="vcard-content">
            <h3><%= vendor.name %></h3>
            <div class="vcard-catcity d-flex justify-content-between">
              <p><%= vendor.category %></p>
              <p><%= vendor.city %></p>
            </div>
          </div>
        <% end %>
        </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>