<div class="content-wrap mt-4">
<div class="row">

  <div class="col-xs-12 col-lg-7 offset-lg-1">
    <div class="vendor-info-main">

    <h1><%= @vendor.name.capitalize %></h1>

      <div class="products">
      <div class="glider-contain">
      <div class="glider gliderwrapcustom">

        <% @products.each do |product| %>
          <%# IF product photos exsits, show product images in carousel %>
          <% if product.photos.present? %>
            <% product.photos.each do |photo| %>
              <div class="gliderslide">
                <%= cl_image_tag photo.key, height: 400, wdith: 'auto', crop: :fill, id: "product-photo" %>
                <h3><%= product.name %></h3>
                <p><%= product.description %></p>
              </div>
            <% end %>
          <%# IF product does not have product images, %>
          <% else %>
            <div class="gliderslide">
              <h3><%= product.name %></h3>
              <p><%= product.description %></p>
            </div>
          <%end%>
        <% end %>
      </div>

        <button aria-label="Previous" class="glider-prev">◄</button>
        <button aria-label="Next" class="glider-next">►</button>
        <div role="tablist" class="dots"></div>
      </div>

      </div>
    </div>
  </div>

  <%# Vendor info left sidebar %>
  <div class="col-xs-12 col-lg-3">
      <div class="col-xs-12 col-lg-3">
        <div class="side-fav-content" data-controller="favoritevendor" data-target="favoritevendor.favorite" id="vendor-data">
          <!-- Need to resolve this section so that nonuser will be redirected to signup if not currently signed in -->
          <div class="vendor-info-side">
            <%= image_tag @vendor.photo, class: "vinfoimg" %>
            <div class="vinfo-text">
              <h2><%= @vendor.name.capitalize %></h2>
              <div class="vcatcity vcard-catcity d-flex justify-content-between mb-2">
                <h5><%= @vendor.category %></h5>
                <h5><%= @vendor.city.capitalize %></h5>
              </div>
              <p><%= @vendor.description %></p>
              <p><%= @vendor.address %>
              <p>Call: <%= @vendor.phone_number %></p>
              </p>
            </div>
          </div>
          <div class="favbutton text-center">
            <% if current_user.present? %>
              <span id="user_id" style="display:none;"><%= current_user.id %></span>
              <span id="vendor_id" style="display:none;"><%= @vendor.id %></span>
              <button data-action="click->favoritevendor#checkFavoriteVendor" class="sha-btn" >Add to favorites</button>
            <% else %>
              <%= link_to "Add to favorites", new_user_session_path, class: "sha-btn"  %>
            <% end %>
            <div class="valert-position">
              <div class="vendor-exist"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  window.addEventListener('load', function(){
    new Glider(document.querySelector('.glider'), {
      slidesToShow: 1,
      slidesToScroll: 'auto',
      itemWidth: 'auto',
      draggable: true,
      dots: '.dots',
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      }
    })
  })
</script>
