<h1>Show details</h1>
<div data-controller="favoritevendor">
  <%= @vendor.name %>
  <%= @vendor.category %>
  <%= @vendor.phone_number %>
  <%= @vendor.description %>
  <%= @vendor.address %>
  <%= @vendor.city %>
  <%= @vendor.average_price %></p>
<div data-target="favoritevendor.favorite" id="vendor-data">
</div>
<!-- Need to resolve this section so that nonuser will be redirected to signup if not currently signed in -->
<% if current_user.present? %>
  <span id="user_id" style="display:none;"><%= current_user.id %></span>
  <span id="vendor_id" style="display:none;"><%= @vendor.id %></span>
  <button class="btn btn-primary" data-action="click->favoritevendor#add" >Add to favorites</button>
<% end %>
</div>