<%= render 'shared/dash-user-sidebar' %>

<div class="dash-main">

<div class="main-fav" data-controller="invoice-modal">
  <h2>My Favorite Vendors</h2>
  <% @favorites.each do |favorite| %>
    <div class="fav-vendor-wrap d-flex align-items-center justify-content-between" >

      <div class="fav-names">
      <%= link_to user_vendor_path(favorite.vendor.id) do %>
      <h4 id="fav-v-name"><%= favorite.vendor.name.capitalize %></h4>
      <%end%>
      <p>(<%= favorite.vendor.category.capitalize %>) </p>
      </div>
      <%= favorite.user_id %>
      <%= favorite.user.first_name %>
      <%= favorite.vendor_id %>
      <%= favorite.vendor.quotes.first.id %>
      <div class="fav-options">
      <a href="#" class="sha-mustard-btn">Chat now</a>
      <% if favorite.vendor.quotes.first.booked == 0 %>
        <a href="#" class="btn btn-secondary" >No invoice</a>
      <% elsif favorite.vendor.quotes.first.booked == 1 %>
        <button href="#"
                class="btn btn-primary"
                data-action="click->invoice-modal#openModal"
                data-user_id="<%= favorite.user_id %>"
                data-user_name="<%= favorite.user.first_name %>"
                data-vendor_id="<%= favorite.vendor_id %>"
                data-quote_id="<%= favorite.vendor.quotes.first.id %>">See invoice!</button>
      <% else %>
        <a href="#" class="btn btn-success" >Payed</a>
      <% end %>


      <%= link_to "Remove",
        user_favorite_vendor_path(favorite),
        class: "sha-btn-outline",
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
  <%= render 'shared/invoice_modal' %>
  </div>
  </div>
