<%= render 'shared/dash-user-sidebar' %>

<div class="dash-main">

<div class="main-fav" data-controller="invoice-modal">
  <h2>My Favorite Vendors</h2>
  <% @favorites.each do |favorite| %>
    <div class="fav-vendor-wrap d-flex align-items-center justify-content-between" >

      <div class="fav-names">
      <%= link_to user_vendor_path(favorite.vendor.id) do %>
      <h4 id="fav-v-name"><%= favorite.vendor.name.capitalize %></h4>
      <%end%>
      <p>(<%= favorite.vendor.category.capitalize %>) </p>
      </div>
      <div class="fav-options">
      <%= link_to "Chat Now", user_inbox_path(favorite.inbox.id) %>
      <%# <a href="#" class="sha-mustard-btn">Chat now</a> %>
      <% if favorite.vendor.quotes.first.booked == 0 %>
        <a href="#" class="btn btn-secondary" >No invoice</a>
      <% elsif favorite.quote.booked == 1 %>
        <button href="#"
                class="btn btn-primary"
                data-action="click->invoice-modal#openModal"
                data-date="<%= favorite.quote.date %>"
                data-list_of_services="<%= favorite.quote.list_of_services %>"
                data-total_price="<%= favorite.quote.total_price %>"
                data-quote_id="<%= favorite.quote.id %>">See invoice!</button>
      <% else %>
        <a href="#" class="btn btn-success" >Payed</a>
      <% end %>


      <%= link_to "Remove",
        user_favorite_vendor_path(favorite),
        class: "sha-btn-outline",
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
  <%= render 'shared/invoice_modal' %>
  </div>
</div>
