<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" <% if controller.controller_name == "pages" && controller.action_name == "home" %>id="homenav"<%end%>>
  <div class="content-wrap d-flex justify-content-between">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "ringlogo1.png" %>
  <% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <%# USER-SIGNED IN NAV BAR %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Search Vendors", user_vendors_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Dashboard", user_dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashbaord", user_dashboard_path, class: "dropdown-item" %>
            <%= link_to "Inbox", user_inboxes_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <%# VENDOR-SIGNED IN NAV BAR %>
      <% elsif vendor_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Search Vendors", user_vendors_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Dashboard", vendor_dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag current_vendor.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashbaord", vendor_dashboard_path, class: "dropdown-item" %>
            <%= link_to "Inbox", vendor_inboxes_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <%# When nobody is logged in %>
      <% else %>
        <li class="nav-item dropdown">
        <div class="navbtn" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4> User </h4></div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "User Sign Up", new_user_registration_path, class: "dropdown-item" %>
            <%= link_to "User Login", new_user_session_path, class: "dropdown-item" %>
          </div>
        </li>
        <h4> ❤ </h4>
        <li class="nav-item dropdown">
          <div class="navbtn" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4> Vendor </h4></div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Vendor Sign Up", new_vendor_registration_path, class: "dropdown-item" %>
            <%= link_to "Vendor Login", new_vendor_session_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
