<h1>Show details</h1>
<%= @vendor.name %>
<%= @vendor.category %>
<%= @vendor.phone_number %>
<%= @vendor.description %>
<%= @vendor.address %>
<%= @vendor.city %>
<%= @vendor.average_price %>
<a href="#" class="btn btn-primary">Add to favorites</a>
