
<%= simple_form_for [:user, @guest] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone_number %>
  <%= f.input :address %>
  <%= f.input :email %>
  <%= f.input :additional_guest_numbers %>
  <%= f.input :food_preference %>

  <div class="form-actions form-btn-wrap d-flex justify-content-around">
  <%= f.submit "Add new guest", class: 'sha-btn'%>
  </div>
<% end %>
