<%= render 'shared/dash-user-sidebar' %>

<div class="dash-main">

<div class="guest-wrap">
    <h1>My Guest List</h1>

    <table class="table inbox-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Meal Pref</th>
          <th scope="col">Additional Guests</th>
          <th scope="col">RSVP Status</th>
          <th scope="col">Edit Guest Info</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>
        <% @guests.each do |guest| %>
        <tr>
          <th scope="row"><%= count += 1 %></th>
          <td><%= guest.first_name %> <%= guest.last_name %></td>
          <td><%= guest.email %></td>
          <td><%= guest.phone_number %></td>
          <td><%= guest.food_preference %></td>
          <td><%= guest.additional_guest_numbers %></td>
          <td><% if guest.rsvp == false %>
                Not Yet...
              <% else %>
                YES
              <% end %>
          </td>
          <td><button class="sha-green-btn sha-btn-md"><%= link_to "Edit Details", edit_user_guest_path(guest.id) %></button></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-around">
      <button class="sha-btn-outline-md m-4"><%= link_to "Add Guests", new_user_guest_path %></button>
    </div>
  </div>
</div>